@font-face {
  font-family: "Pretendard";
  font-display: fallback;

  src: url("static/fonts/Pretendard-Regular.otf") format("opentype"), url("static/fonts/Pretendard-SemiBold.woff") format("woff"), url("static/fonts/Pretendard-SemiBold.ttf") format("truetype");

  /* 사용할 폰트의 기본 스타일 */
  font-weight: 400;
  font-style: normal;
}

*,
:after,
:before {
  background-repeat: no-repeat;
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-family: "Pretendard";
  line-height: 1.2;
  font-size: 16px;
  color: #222529;
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
  background-color: #fff;
}
